.movieContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.movieInfo{
    max-width: 650px;
    font-size: 22px;
    color: white;
}
.additional{
    background-color: #fff;
    margin-left: 50px;
    border-top: 1px solid darkblue;
    border-left: 1px solid darkblue;
    margin-bottom: 50px;
    padding: 15px;
    border-top-left-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
            0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    
}
.mivieImg{
    border-radius: 8px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    object-fit: cover;
}
.mivieImg:hover{
    transform: scale(1.03);
    cursor: zoom-in;
    box-shadow: 10px 5px 5px rgb(61, 58, 58);
}
.listAdditional{
    margin-bottom: 50px;
    
    
}
.link{
    text-decoration-line:underline;
    color: #3f51b5;
}
.title{
    margin-bottom: 50px;
}
.linkBack {
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #3f51b5;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-align: center;
    color: #fff;
    border: 0;
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    font-weight: 500;
    max-width: 150px;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.linkBack:hover,
.linkBack:focus {
    background-color: #303f9f;
}